$PRIMARY: #409EFF;
$SUCCESS: #67C23A;
$WARNING: #E6A23C;
$DANGER: #F56C6C;
$INFO: #909399;
$TITLE: #303133;
$MAIN_TEXT: #606266;
$SECONDARY_TEXT: #909399;
$PLACE_TEXT: #C0C4CC;
$LEVEL_1_BORDER: #DCDFE6;
$LEVEL_2_BORDER: #E4E7ED;
$LEVEL_3_BORDER: #EBEEF5;
$LEVEL_4_BORDER: #F2F6FC;
$BASIC_BLACK: #000000;
$BASIC_WHITE: #FFFFFF;